<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title%}{% endblock %}</title>
  {% block link %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% endblock %}
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="{% url 'home' %}">Головна</a></li>
        <li><a href="{% url 'about' %}">Про нас</a></li>
        <li><a href="{% url 'cart' %}">Кошик</a></li>
        {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}">Вийти</a></li>
        {% else %}
          <li><a href="{% url 'login' %}">Вхід</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  {% block content %}
  {% endblock %}
  <footer class="site-footer">
    <p>
    </p>
  </footer>
</body>
</html>