{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block link %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
    <div class="books-container">
        {% for book in books %}
            <div class="book-card">
                <div class="book-cover">
                    <img src="{{ book.photo.url }}" alt="Обкладинка книги">
                </div>
                <div class="book-info">
                    <h3 class="book-title">{{ book.title }}</h3>
                    <p class="book-author">{{ book.author }}</p>
                    <div class="book-price">{{ book.price }} грн</div>
                    <a href="{% url 'book' book.article %}"><button class="add-to-cart">Переглянути</button></a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
